    <h1>Welcome to the user page</h1>

    <%@users.each do |user|%>
      <div>
        <h3><%= user[:email]%></h3>
        <p><%= user[:first_name]%></p>
        <p><%= user[:last_name]%></p>
      </div>


    <% end %>
