    <h1>Welcome to the index page</h1>

    <%@leaders.each do |leader|%>
      <div>
        <h3><%= leader.name%></h3>
        <p><%= leader.global_bonus%></p>
        <p><%= leader.active_bonus%></p>
      </div>


    <% end %>
